<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n
<html xmlns=\ "http://www.w3.org/1999/xhtml\">\n

<head>\n
    <meta name=\ "viewport\" content=\ "width=device-width\">\n
    <meta http-equiv=\ "X-UA-Compatible\" content=\ "IE=edge\">\n
    <meta http-equiv=\ "Content-Type\" content=\ "text/html; charset=UTF-8\">\n
    <title>Welcome to BuildAR</title>\n
    <style>
        \n img {
            max-width: 100%;
            height: auto;
        }
        
        \n
    </style>\n</head>\n

<body>\n
    <div id=\ "content\">\n
        <p>Dear
            <%= firstName %>,</p>\n
        <img src="https://dreal.in/video.gif" alt="Welcome to BuildAR"></img>\n
        <p>A warm welcome to BuildAR, Where you can create personalized AI videos in 40+ languages.</p>\n
        <p>Please click the following link to verify your email address
            <a href=\ "<%= validationLink %>\">
                <%= validationLink %>
            </a>.</p>
        <p>Once your email is verified, you can create videos at your workspace
            <a href=\ "<%= workspaceURL %>\">
                <%= workspaceURL %>
            </a>.</p>
        <p>Always here to help you.</p>\n
        <p>Best Regards,
            <br>Sachin Sharma</p>\n
        <p>Founder</p>
    </div>\n
    <br>
    <br>\n
    <div id=\ "footer\">\n &copy; Copyright 2021 BuildAR. All Rights Reserved.\n </div>\n </body>\n

</html>

<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n
<html xmlns=\ "http://www.w3.org/1999/xhtml\">\n

<head>\n
    <meta name=\ "viewport\" content=\ "width=device-width\">\n
    <meta http-equiv=\ "X-UA-Compatible\" content=\ "IE=edge\">\n
    <meta http-equiv=\ "Content-Type\" content=\ "text/html; charset=UTF-8\">\n
    <title>Please verify your email address | BuildAR</title>\n
    <style>
        \n img {
            max-width: 100%;
            height: auto;
        }
        
        \n
    </style>\n</head>\n

<body>\n
    <div id=\ "content\">\n
        <p>Dear
            <%= firstName %>,</p>\n
        <p>Please click the following link to verify your email address with BuildAR
            <a href=\ "<%= validationLink %>\">
                <%= validationLink %>
            </a>.</p>\n
        <p>A verified email address allows you to fully enjoy our AI video platform.</p>\n
        <p>Best Regards,
            <br>Sachin Sharma</p>\n
        <p>Founder</p>
    </div>\n
    <br>
    <br>\n
    <div id=\ "footer\">\n &copy; Copyright BuildAR. All Rights Reserved.\n </div>\n </body>\n

</html>
